<h1>You need to authenticate ({{user}})</h1>

<h2>Authenticate with:</h2>

<ul class="login_list">
  {{#authenticators.openidconnect}}
    <li><a href="/auth/{{shortName}}" target="_blank"><img src="{{icon}}" style="max-width: 2em"
                                                           alt="{{title}}" /></a></li>
  {{/authenticators.openidconnect}}

  {{#authenticators.facebook}}
    <li><a href="/auth/facebook" target="_blank"><img src="{{icon}}" style="max-width: 2em"
                                                      alt="{{title}}" /></a></li>
  {{/authenticators.facebook}}

</ul>

{{#authenticators.anonymous}}
  <p>
    Or <a href="/auth/anonymous">Comment anonymously</a></li>…
  </p>
{{/authenticators.anonymous}}

<form action="/auth/oidc" target="_blank">
  <p>
    Or login with an OpenID Connect account:
    <span class="oidc"><input name="oidci" /></span><input type="submit" />
  </p>
</form>

<script>
  window.addEventListener("message", function(event) {
    if (!event.data.authenticated) {return deferred.reject('Not authenticated')}

    // Forward to parent.
    window.parent.postMessage({authenticated: true}, '*')
  }, false);
</script>
