<h1>You need to authenticate ({{user}})</h1>

<h2>Authenticate with:</h2>

<form action="/auth/oidc" target="_blank">
  <input name="oidci" /><input type="submit" />
</form>

<ul class="login_list">
  {{#config.authenticators.openidconnect}}
    <li><a href="/auth/{{shortName}}" target="_blank"><img src="{{icon}}" style="max-width: 2em" alt="{{title}}" /></a></li>
  {{/config.authenticators.openidconnect}}

  {{#config.authenticators.facebook}}
    <li><a href="/auth/facebook" target="_blank"><img src="{{icon}}" style="max-width: 2em" alt="{{title}}" /></a></li>
  {{/config.authenticators.facebook}}

</ul>

{{#config.authenticators.anonymous}}
  <p>
    Or <a href="/auth/anonymous">Comment anonymously</a></li>…
  </p>
{{/config.authenticators.anonymous}}

<script>
  window.addEventListener("message", function(event) {
    if (!event.data.authenticated) {return deferred.reject('Not authenticated')}

    // Forward to parent.
    window.parent.postMessage({authenticated: true}, '*')
  }, false);
</script>
