<h1>Comment as...</h1>

<ul class="login_list">
  {{#config.authenticators.openidconnect}}
    <li><a href="auth/{{shortName}}" target="_blank"><img src="{{icon}}" style="max-width: 2em"
                                                           alt="{{title}}" /></a></li>
  {{/config.authenticators.openidconnect}}

  {{#config.authenticators.facebook}}
    <li><a href="auth/facebook" target="_blank"><img src="{{icon}}" style="max-width: 2em"
                                                      alt="{{title}}" /></a></li>
  {{/config.authenticators.facebook}}

</ul>

{{#config.authenticators.anonymous}}
  <form action="auth/anonymous" target="_blank">
    <p>
      Use name: <input name="anonymous" />
      <input type="submit" value="Go" />
    </p>
  </form>
{{/config.authenticators.anonymous}}

<form action="auth/oidc" target="_blank">
  <p>
    Use OpenID Connect account:
    <span class="oidc"><input name="oidci" /></span><input type="submit" />
  </p>
</form>

<script>
  window.addEventListener("message", function(event) {
    if (!event.data.authenticated) {return deferred.reject('Not authenticated')}

    // Forward to parent.
    window.parent.postMessage({authenticated: true}, '*')
  }, false);
</script>
