<h1>Some Comments testpage</h1>

<div class="comments" id="comments"></div>
<script src="{{config.baseUrl}}node_modules/markdown/lib/markdown.js"></script>
<script src="{{config.baseUrl}}node_modules/q/q.js"></script>
<script src="{{config.baseUrl}}client.js"></script>
<script>
  SomeComments('{{config.baseUrl}}').displayByPage({{site}}, window.location.href, 'comments')
</script>

