<h1>Site {{site.id}} at {{baseUrl}}</h1>

{{#user}}
  <p>Logged in as {{displayName}} ({{id}}) <a href="/sites">Back to list</a></p>
{{/user}}

<h2>Edit your site</h2>

<form onsubmit="return updateSite()">
  <label>Domain name only: <input id="domain" value="{{site.domain}}" /></label><br>
  <label><input type="checkbox" id="avatars" /> Use avatars</label><br>
  <label><input type="checkbox" id="reviews" /> Use reviews</label><br>
  <label>Sort order: <select id="sort_order">
    <option id="sort_order_asc" value="asc">Latest comment last</option>
    <option id="sort_order_desc" value="desc">Latest comment first</option>
  </select></label><br>
  <button type="submit">Update</button>
</form>

<script src="/node_modules/markdown/lib/markdown.js"></script>
<script src="/node_modules/q/q.js"></script>
<script src="/client.js"></script>
<script>
  var sc = SomeComments('{{baseUrl}}')

  document.getElementById('avatars').checked = {{site.settings.useAvatar}}
  document.getElementById('reviews').checked = {{site.settings.useReviews}}
  document.getElementById('sort_order_{{site.settings.sortOrder}}').selected = true

  function updateSite() {
    console.log('Updating site.')

    var domain = document.getElementById('domain').value
    var settings = {
      sortOrder: '{{site.settings.sortOrder}}',
      useAvatar: {{site.settings.useAvatar}},
      useReviews: {{site.settings.useReviews}}
    }

    var sort_select = document.getElementById('sort_order')
    settings.sortOrder = sort_select.options[sort_select.selectedIndex].value
    settings.useAvatar = document.getElementById('avatars').checked
    settings.useReviews = document.getElementById('reviews').checked

    sc.updateSite({{site.id}}, domain, settings)
      .then(
        function(done)  {location.reload()},
        function(error) {console.log(error)}
      )
    return false
  }
</script>
