<h1>Sites at {{baseUrl}}</h1>

<p>
  Here might some day be a nice list with links and supearmin functionality to remove unwanted
  sites :)
</p>

<ul>
  {{#sites}}
    <li>{{id}} - <a href="http://{{domain}}/">{{domain}}</a> - by {{admins.0.displayName}}</li>
  {{/sites}}
</ul>

<h2>Add your site</h2>

<form onsubmit="return addSite()">
  <label>Domain name only: <input id="domain" /></label><br>
  <label><input type="checkbox" id="avatars" checked /> Use avatars</label><br>
  <label><input type="checkbox" id="reviews" /> Use reviews</label><br>
  <label>Sort order: <select id="sort_order">
    <option value="asc">Latest comment last</option>
    <option value="desc">Latest comment first</option>
  </select></label><br>
  <button type="submit">Register</button>
</form>

<script src="/node_modules/markdown/lib/markdown.js"></script>
<script src="/node_modules/q/q.js"></script>
<script src="/client.js"></script>
<script>
  var sc = SomeComments('{{baseUrl}}')

  function addSite() {
    console.log('Adding site.')

    var domain = document.getElementById('domain').value
    var settings = {sortOrder: 'asc', useAvatar: true}

    var sort_select = document.getElementById('sort_order')
    settings.sortOrder = sort_select.options[sort_select.selectedIndex].value
    settings.useAvatar = document.getElementById('avatars').checked
    settings.useReviews = document.getElementById('reviews').checked

    sc.addSite(domain, settings)
      .then(
        function(done)  {location.reload()},
        function(error) {console.log(error)}
      )
    return false
  }
</script>
